*{
    box-sizing: border-box;
    font-family: Segoe UI, sans-serif;
}

.container{
    position: relative;
    width: 90%;
    margin: 0 auto;
}
header{
    box-shadow: 0 5px 5px -7px black;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 40px;
    flex-shrink: 0;
}
.ship{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text{
    color: #000;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.svg{
    color: #FFF;
    text-align: center;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.logo{
    color: #000;
    font-family: Segoe UI;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.menu{
    list-style-type: none;
    display: flex;
    margin: 0;
    align-items: center;
}
.item{
    color: #000;
    font-family: Segoe UI;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 25px;
    text-decoration: none;

}

.item:hover{
    color:#FFA019;
}
.logotip{
    height: 900px;
    background: url(../img/scooter.png) center center/ cover no-repeat;
}
.logotip h1{
    color: #FFF;
    text-align: center;
    font-family: Segoe UI;
    font-size: 51px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.logotip p{

    color: #FFF;
    text-align: center;
    font-family: Segoe UI;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    width: 670px;
}
.logotip a{
    color: #000;
    text-align: center;
    font-family: Segoe UI;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    padding-top: 50px;
}
.flou{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
}
.shapka{
    justify-content: space-between;
    display: flex;
    height: 50px;
    position: relative;
}
.obshslider{
    margin-bottom: 170px;
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    font-family: Segoe UI;
    font-size: 34px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}
.imggg{
    display: flex; 
    justify-content: space-between;
}
.model{
    min-height: 600px;
}
.onas-container{
    padding-bottom: 100px;
}
.onas{
    text-align: justify;
    color: #000;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}
.magazine{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: justify;
    color: #000;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}
.tovari{
    text-align: justify;
    color: #000;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}
.nezrobsh{
    background-color: rgba(254, 159, 49, 1);
    min-height: 100px;   
}
.nezr{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}
.textnezr{
    width: 315px;
    color:#fff;
    font-family: Segoe UI;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}
.features{
    margin-top: 84px;
    font-size: 20px;
    font-weight: 400;
}
.features ul{
    list-style-type: none;
    padding-left: 0;
}
.features_list{
    margin-left: auto;
}
.features p{
    margin-top: 43px;
    text-align: justify;
    margin-bottom: 126px;
}

.katalog button{
    margin-left: 38px;
    background: #FFF;
    border: none;
    border-radius: 2cqh;
    height: 43px;
    font-size: 20px;
    font-weight: 400;
}
.katalog button:hover{
    background-color: #FFA019;
    color: #FFF;
}
.katalog_wh{
    width: 100%;
    margin-top: 103px;
    padding-top: 12px;
    padding-right: 48px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    margin-bottom: 100px;
}
.katalog_wh_margin{
    margin-right: 28px;
}

.katalog_wh img{
    margin-top: 19px;
    width: 90%;
    margin-left: 35px;
    margin-right: 48px;
}
.katalog_wh p{
    font-size: 16px;
    font-weight: 400;
    margin-left: 23px;
    margin-bottom: 25px;
}
.katalog_wh button{
    border-radius: 0px 10px 10px 0px;
    background: #FFA019;
    border: none;
    color: #FFF;
    height: 23px;
    padding: 0 14px 2px 14px;
    font-size: 14px;
    font-weight: 400;
}


.consultant_box{
    margin-right: 180px;
    margin-left: auto;
    background: #fbfbfb;
}
.consultant_box img{
    width: 60%;
    margin-right: 27px;
}
.fon{
    background: #fbfbfb;
}
.name{
    font-size: 20px;
    margin-bottom: 0;
}
.maneger{
    width: 180px;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 10px;
}
.consultant button{
    background: #FFA019;
    border: none;
    color: #FFF;
    border-radius: 8px;
    margin-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 3px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 700;
}
.consultant button:hover{
    background-color: #b8561d;
}

#info{
    background: rgba(251, 251, 251, 0.47);
    width: 90%;
    color: #9B9B9B;
    font-size: 50px;
    font-weight: 700;  
    margin-left: 80px;  
    padding-top: 30px;
    padding-bottom: 30px;
}
#info span{
    width: 90%;
    padding-right: 60px;
}
.infoPol{
    margin-top: 70px;
    margin-bottom: 105px;
}
#infoPol_box{
    margin-right: 60px;
    margin-left: auto;
    position:relative;

}
#infoPol_box img{
    width: 110%;
    margin-right: 27px;
    filter: brightness(40%);
}
.infotext{
    margin-right: 10px;
}
.infotextimg{
    color: white;
    vertical-align:middle;
    display:table-cell;
    padding-bottom: 150px;
    position: absolute;
    top:35%;
    left:5%;
    width: 240px;
    text-transform: uppercase;
    text-align: center;
}
footer{
    background: #fbfbfb;
}
.col{
    padding-top: 50px;
    display: flex;
}
.gal{
    color: #303842;
}
.te{
    text-align: left;
    width: 500px;
    margin-right: 240px;
}
.te1{
    text-align: left;
    padding-left: 40px;
}
.te2{
    text-align: left;
    padding-left: 40px;
}
.te3{
    text-align: left;
    padding-left: 40px;
}
.c{
    color: #8191a6;
}


.catalog-menu{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 50px;
}

.catalog-menu-text{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}

.block-features{
    display: flex;
    flex-direction: row;
}

.features-textBlock:not(:last-child){
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.features-text{
    max-width: 850px;
}

.card-block{
    position: relative;
    width: 305px;
    height: 430px;
    box-shadow:1px 1px 1px 1px rgb(148, 138, 138);
    background-color:#FFF;
    
}

.blocks{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;
}

.scooter-img{
    position: inherit;
    z-index: 1;
    width: 256px;
    height: 280px;
}

.card-type{
    padding-top: 18px;
}

.scooter-text{
    text-align: left;
    padding-top:3px ;
    padding-left: 30px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}

.scooter-price{
    padding-top:5px;
    padding-left:30px ;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; 
}

.consultant-card-block{
    display: flex;
    justify-content: space-between;
}

.consultant-img{
    width: 203px;
    height: 250px;
}

.consultant-block{
    display: flex;
    
}

.name-block{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 20px;
}

.text-post{
    padding-top: 6px;
    padding-bottom: 20px;
    color: #000;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
}

.consultant-text-name{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.consultant{
    min-height: 500px;
}

.consultant-title{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-bottom: 50px;
}

.brands{
    background-color:#fbfbfb;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-text{
    color: #9B9B9B;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 7.5px;
}

.information-block{
    display: flex;
    justify-content: space-between;
}

.information-title{
    padding-top: 60px;
    padding-bottom: 85px;
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.information {
    min-height: 500px;
}